html,
body {
    /* font-size: 20px; */
    font-family: Lato, sans-serif;
    color: #424551;

}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1260px;
    padding: 0 15px;
    /* чтобы контент не прилипал к границам вьюпорта слева и справа */
    margin: 0 auto;
    /* авто отступ (сверух и снизу 0, по бокам авто, это центрирует контент */
}

.button {
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 52px;
    padding: 0 40px;
    color: white;
    border-radius: 4px;
    background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
    white-space: nowrap;
    transition: all .3s;

}

.button:hover {
    transform: scale(1.05);

}

.logo {}

/* --------------Общие элементы сверху-------------------------------------*/
.header {
    font-weight: 700;

}

.header__top {}


.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}


.header__logo {
    margin-right: 60px;
}


.header__nav {
    margin-right: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-right: 40px;
}

.header__nav-item:last-child {
    margin-right: 0;
    /* убираем отступ справа для последнего
    элемента с пом. псевдокласса */

}

.header__nav-link {
    line-height: 1.6;
    white-space: nowrap;
    transition: all .3s;
    /* добавляем плавное изменение цвета
    хоть hover указан ниже, но transition мы 
    задаем для самого класса, а не для 
    псевдо */
}

.header__nav-link:hover {
    color: #ff3f3a;
}

.header__btn-box {
    display: flex;
    align-items: center;
}

.header__user-btn {
    white-space: nowrap;
    line-height: 1.6;
    /* чтобы кнопки не наезжали друг на друга при уменьш. эерана */
    transition: all .3s;
}

.header__user-btn:hover {
    color: #ff3f3a;
}

.header__top-btn {
    margin-right: 36px;

}


.header__user-nav {
    position: relative;
    padding-left: 28px;
}


.header__user-nav::before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    /* подвинул иконку с помощью трансформа */
    content: "";
    background: url("../images/icons/user-icon.svg") no-repeat;
    width: 20px;
    height: 20px;
    display: block;
}


.wrapper {}




.header__body {}

.container {}





.header__user-btn {}