html,
body {
    font-family: Lato, sans-serif;
    color: #424551;

}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1260px;
    padding: 0 15px;
    /* чтобы контент не прилипал к границам вьюпорта слева и справа */
    margin: 0 auto;
    /* авто отступ (сверух и снизу 0, по бокам авто, это центрирует контент */
height: 100%;
/* контейнеру всегда можно быть на 100%
своего родителя, где бы мы его не задали*/
}

.button {
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 52px;
    padding: 0 40px;
    color: white;
    border-radius: 4px;
    background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
    white-space: nowrap;
    transition: all .3s;

}

.button:hover {
    transform: scale(1.05);

}

.button--empty {
    background-image: none;
    border-left: 2px solid #FF3F3A;
    border-right: 2px solid #F75E05;
    background-image: -webkit-linear-gradient(left, #FF3F3A, #F75E05), -webkit-linear-gradient(left, #FF3F3A, #F75E05);
    background-image: linear-gradient(left, #FF3F3A, #F75E05), linear-gradient(left, #FF3F3A, #F75E05);
    background-size: 100% 2px;
    background-position: 0 100%, 0 0;
    background-repeat: no-repeat;
    background-clip: border-box;
}

.button--empty span {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.logo {}

/* --------------Общие элементы сверху-------------------------------------*/
.header {
    font-weight: 700;
    background: url("../images/decor/shapes-bg.svg") 50% 30% / cover no-repeat, linear-gradient(56deg, rgba(255, 63, 58, .2) 0%, rgba(247, 94, 5, .2) 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
}



.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}


.header__logo {
    margin-right: 60px;
}


.header__nav {
    margin-right: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-right: 40px;
}

.header__nav-item:last-child {
    margin-right: 0;
    /* убираем отступ справа для последнего
    элемента с пом. псевдокласса */

}

.header__nav-link {
    line-height: 1.6;
    white-space: nowrap;
    transition: all .3s;
    /* добавляем плавное изменение цвета
    хоть hover указан ниже, но transition мы 
    задаем для самого класса, а не для 
    псевдо */
}

.header__nav-link:hover {
    color: #ff3f3a;
}

.header__btn-box {
    display: flex;
    align-items: center;
}

.header__user-btn {
    white-space: nowrap;
    line-height: 1.6;
    /* чтобы кнопки не наезжали друг на друга при уменьш. эерана */
    transition: all .3s;
}

.header__user-btn:hover {
    color: #ff3f3a;
}

.header__top-btn {
    margin-right: 36px;

}


.header__user-nav {
    position: relative;
    padding-left: 28px;
}


.header__user-nav::before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    /* подвинул иконку с помощью трансформа */
    content: "";
    background: url("../images/icons/user-icon.svg") no-repeat;
    width: 20px;
    height: 20px;
    display: block;
}

/* ---------wower top------------------------------------ */
.header__body {
    flex-grow: 1;
}

.header__body-inner{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1e212c;
    margin: auto 0;


}

.header__content {
    margin-right: 30px;
}


.header__title {
    font-size: 64px;
    font-weight: 900;
    line-height: 130%;
    letter-spacing: 1px;
    max-width: 500px;
    margin-bottom: 60px;
}


.header__content-buttons {
    display: flex;
}

.header__content-btn {
    margin-right: 24px;
}

.header__content-btn:last-child {
    margin-right: 0px;
}

.header__play {
    display: inline-flex;
    align-items: center;
    margin-bottom: 24px;

}

.header__play svg {
    margin-right: 16px;
    border-radius: 50%;
    transition: all .3s;

}

.header__play:hover svg {
    box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.12);
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1e212c;
margin: 80px;
}

.header__row>span {
    /* обращаемся именно к спанам 
первого порядка  */
    background: #FF3F3A;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 15px;
}

.header__row-item {
    display: flex;
    align-items: center;


}

.header__row-item span {
    font-size: 46px;
    font-weight: 900;
    line-height: 130%;
    margin-right: 12px;
}

/* ---------------------end header----------------------------- */

